.vscode
*.user

CMakeCache.txt
CMakeFiles
*.vcxproj
*.filters
*.depends
*.sln
*.cmake
Debug
Release
RelWithDebInfo
MinSizeRel
*.dir
*_autogen
*.db
*.db-shm
*.db-wal
*.suo
qrc_*.cpp

Makefile
*-test

*.ninja*
*.cbp
